* {
   box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
text-align: center;
font-size: 2em;
}

.screen {
  /* Contains everthing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*   border: 1px solid red; */
  margin: 2% 5%;
  letter-spacing: 1px;
}

.playlist {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  margin: 1% auto;
}

.playlist h2 {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
}
.panel {
  border: 1px solid black;
  border-radius: 2px;
  padding: 2%;
  margin: 1%;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  color: white;
  background: #5995da;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 0 3px 1% 3px;
}
button:hover {
  background-color: #76aeed;
  border: none;
}

button:active {
  background-color: #407fc7;
  border: none;
}

button:visited,
button:enabled {
  border: none;
  outline: none;
}

button:disabled {
  color: lightgray;
  background-color: gray;
  border: none;
}

#submitBtn,
#resetBtn {
  cursor: pointer;
}

.version {
  text-align: center;
  font-size: 0.8em;
}